In [ ]:
import pandas as pd

In [ ]:
df = pd.read_csv('https://raw.githubusercontent.com/Christiankandinata/RevoU/main/MC/movie_data.csv')
df.head()

,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actor,movie_facebook_likes
0,James Cameron,178.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,Avatar,2009.0,English,USA,237000000.0,7.9,Wes Studi,33000.0
1,Gore Verbinski,169.0,309404152.0,Action|Adventure|Fantasy,Pirates of the Caribbean At World's End,2007.0,English,USA,300000000.0,7.1,Jack Davenport,0.0
2,Sam Mendes,148.0,200074175.0,Action|Adventure|Thriller,Spectre,2015.0,English,UK,245000000.0,6.8,Stephanie Sigman,85000.0
3,Christopher Nolan,164.0,448130642.0,Action|Thriller,The Dark Knight Rises,2012.0,English,USA,250000000.0,8.5,Joseph Gordon-Levitt,164000.0
4,Doug Walker,NaN,NaN,Documentary,Star Wars Episode VII - The Force Awakens ...,NaN,NaN,NaN,NaN,7.1,NaN,0.0

In [ ]:
#inspect data information
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   director_name         4939 non-null   object
 1   duration              5028 non-null   float64
 2   gross                 4159 non-null   float64
 3   genres                5043 non-null   object
 4   movie_title           5043 non-null   object
 5   title_year            4934 non-null   float64
 6   language              5030 non-null   object
 7   country               5037 non-null   object
 8   budget                4550 non-null   float64
 9   imdb_score            5042 non-null   float64
 10  actor                 5019 non-null   object
 11  movie_facebook_likes  5042 non-null   float64
dtypes: float64(6), object(6)
memory usage: 472.9+ KB

# Inspect Data

In [ ]:
for col in df.columns:
  print(col)
  print(df[col].value_counts())
  print('')

director_name
Steven Spielberg    26
Woody Allen         22
Clint Eastwood      20
Martin Scorsese     20
Ridley Scott        17
                    ..
John Crowley         1
Rob Pritts           1
David S. Ward        1
R.J. Cutler          1
Daniel Hsia          1
Name: director_name, Length: 2398, dtype: int64

duration
90.0     161
100.0    141
101.0    139
98.0     135
97.0     131
        ...
236.0      1
334.0      1
270.0      1
227.0      1
47.0       1
Name: duration, Length: 191, dtype: int64

gross
47000000.0     3
34964818.0     3
5773519.0      3
3000000.0      3
177343675.0    3
              ..
39026186.0     1
33422806.0     1
33423521.0     1
32519322.0     1
85222.0        1
Name: gross, Length: 4035, dtype: int64

genres
Drama                                         236
Comedy                                        209
Comedy|Drama                                  191
Comedy|Drama|Romance                          187
Comedy|Romance                                158
                                             ...
Crime|Drama|Mystery|Sci-Fi|Thriller             1
Adventure|Comedy|Crime|Drama                    1
Action|Crime|Drama|Mystery|Sci-Fi|Thriller      1
Action|Drama|Fantasy|Horror|Thriller            1
Comedy|Crime|Horror                             1
Name: genres, Length: 914, dtype: int64

movie_title
Ben-Hur                 3
Home                    3
Pan                     3
King Kong               3
Halloween               3
                       ..
Splice                  1
The Whole Ten Yards     1
North Country           1
88 Minutes              1
My Date with Drew       1
Name: movie_title, Length: 4917, dtype: int64

title_year
2009.0    260
2014.0    252
2006.0    239
2013.0    237
2010.0    230
         ...
1932.0      1
1916.0      1
1934.0      1
1925.0      1
1920.0      1
Name: title_year, Length: 91, dtype: int64

language
English       4703
French          73
Spanish         40
Hindi           28
Mandarin        26
German          19
Japanese        18
Cantonese       11
Russian         11
Italian         11
Portuguese       8
Korean           8
Arabic           5
Danish           5
Hebrew           5
Swedish          5
Polish           4
Norwegian        4
Persian          4
Dutch            4
Thai             3
Chinese          3
Icelandic        2
None             2
Indonesian       2
Aboriginal       2
Romanian         2
Dari             2
Zulu             2
Panjabi          1
Urdu             1
Vietnamese       1
Slovenian        1
Greek            1
Dzongkha         1
Tamil            1
Telugu           1
Kannada          1
Czech            1
Hungarian        1
Bosnian          1
Filipino         1
Mongolian        1
Maya             1
Aramaic          1
Kazakh           1
Swahili          1
Name: language, dtype: int64

country
USA              3806
UK                448
France            154
Canada            126
Germany            97
                 ...
Slovakia            1
Chile               1
Cambodia            1
Official site       1
Philippines         1
Name: country, Length: 65, dtype: int64

budget
20000000.0    174
15000000.0    143
25000000.0    142
30000000.0    141
10000000.0    135
             ...
10818775.0      1
13800000.0      1
12305523.0      1
12600000.0      1
1100.0          1
Name: budget, Length: 439, dtype: int64

imdb_score
6.7    223
6.6    201
7.2    195
6.5    186
6.4    185
      ...
9.5      1
1.6      1
9.3      1
1.7      1
9.2      1
Name: imdb_score, Length: 78, dtype: int64

actor
John Heard          8
Steve Coogan        8
Ben Mendelsohn      8
Anne Hathaway       7
Robert Duvall       7
                   ..
Hayley McFarland    1
Jay Mohr            1
Mike White          1
Ski Carr            1
Jon Gunn            1
Name: actor, Length: 3520, dtype: int64

movie_facebook_likes
0.0        2181
1000.0      109
11000.0      83
10000.0      81
12000.0      62
           ...
394.0         1
299.0         1
555.0         1
630.0         1
20.0          1
Name: movie_facebook_likes, Length: 875, dtype: int64

# Key issue on the data

1.   Some movie are represented multiple times in the data(e.g.Hollywood)--> need to remove duplicate/dedup
2.   Empty data((e.g. on director_name or gross column)-->remove
3. Integer values (duration, gross, title_year, budget, movie_facebook_likes) are are represented as float/decimal number --> convert to integer
4. Zero values on movie_facebook_likes --> such movies can be removed from final dataset, depending on business questions
5. movie_title eror

# Data Cleaning

In [ ]:
#untuk membersih unique data pada file move tittle
df['movie_title'].unique()

array(['Avatar\xa0', "Pirates of the Caribbean At World's End\xa0",
       'Spectre\xa0', ..., 'A Plague So Pleasant\xa0',
       'Shanghai Calling\xa0', 'My Date with Drew\xa0'], dtype=object)

In [ ]:
#untuk melihat data diplicate
df[df.duplicated()].sort_values(by = ['movie_title'])

,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actor,movie_facebook_likes
4894,Richard Fleischer,127.0,NaN,Adventure|Drama|Family|Fantasy|Sci-Fi,"20,000 Leagues Under the Sea",1954.0,English,USA,5000000.0,7.2,Paul Lukas,0.0
4950,David Hewlett,88.0,NaN,Comedy,A Dog's Breakfast,2007.0,English,Canada,120000.0,7.0,Paul McGillion,377.0
4352,Wes Craven,101.0,26505000.0,Horror,A Nightmare on Elm Street,1984.0,English,USA,1800000.0,7.5,Amanda Wyss,10000.0
4408,Yimou Zhang,95.0,190666.0,Comedy|Drama,"A Woman, a Gun and a Noodle Shop",2009.0,Mandarin,China,NaN,5.7,Dahong Ni,784.0
4842,Julie Taymor,133.0,24343673.0,Drama|Fantasy|Musical|Romance,Across the Universe,2007.0,English,USA,45000000.0,7.4,Robert Clohessy,14000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
1220,Angelina Jolie Pitt,137.0,115603980.0,Biography|Drama|Sport|War,Unbroken,2014.0,English,USA,65000000.0,7.2,Alex Russell,35000.0
3981,Jaume Collet-Serra,113.0,61094903.0,Action|Mystery|Thriller,Unknown,2011.0,English,UK,30000000.0,6.9,Aidan Quinn,29000.0
1305,Paul McGuigan,110.0,5773519.0,Drama|Horror|Sci-Fi|Thriller,Victor Frankenstein,2015.0,English,USA,40000000.0,6.0,Daniel Mays,11000.0
2099,Paul McGuigan,110.0,5773519.0,Drama|Horror|Sci-Fi|Thriller,Victor Frankenstein,2015.0,English,USA,40000000.0,6.0,Daniel Mays,11000.0
2169,Paul McGuigan,114.0,12831121.0,Drama|Mystery|Romance|Thriller,Wicker Park,2004.0,English,USA,30000000.0,7.0,Mark Camacho,0.0

In [ ]:
#cara menampilkan data yang duplikat
df[df['movie_title']=='20,000 Leagues Under the Sea']

,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actor,movie_facebook_likes
3711,Richard Fleischer,127.0,NaN,Adventure|Drama|Family|Fantasy|Sci-Fi,"20,000 Leagues Under the Sea",1954.0,English,USA,5000000.0,7.2,Paul Lukas,0.0
4894,Richard Fleischer,127.0,NaN,Adventure|Drama|Family|Fantasy|Sci-Fi,"20,000 Leagues Under the Sea",1954.0,English,USA,5000000.0,7.2,Paul Lukas,0.0

In [ ]:
#cara remove duplikasi data
df2 = df.drop_duplicates().copy()
df2

,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actor,movie_facebook_likes
0,James Cameron,178.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,Avatar,2009.0,English,USA,237000000.0,7.9,Wes Studi,33000.0
1,Gore Verbinski,169.0,309404152.0,Action|Adventure|Fantasy,Pirates of the Caribbean At World's End,2007.0,English,USA,300000000.0,7.1,Jack Davenport,0.0
2,Sam Mendes,148.0,200074175.0,Action|Adventure|Thriller,Spectre,2015.0,English,UK,245000000.0,6.8,Stephanie Sigman,85000.0
3,Christopher Nolan,164.0,448130642.0,Action|Thriller,The Dark Knight Rises,2012.0,English,USA,250000000.0,8.5,Joseph Gordon-Levitt,164000.0
4,Doug Walker,NaN,NaN,Documentary,Star Wars Episode VII - The Force Awakens ...,NaN,NaN,NaN,NaN,7.1,NaN,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5038,Scott Smith,87.0,NaN,Comedy|Drama,Signed Sealed Delivered,2013.0,English,Canada,NaN,7.7,Crystal Lowe,84.0
5039,NaN,43.0,NaN,Crime|Drama|Mystery|Thriller,The Following,NaN,English,USA,NaN,7.5,Sam Underwood,32000.0
5040,Benjamin Roberds,76.0,NaN,Drama|Horror|Thriller,A Plague So Pleasant,2013.0,English,USA,1400.0,6.3,David Chandler,16.0
5041,Daniel Hsia,100.0,10443.0,Comedy|Drama|Romance,Shanghai Calling,2012.0,English,USA,NaN,6.3,Eliza Coupe,660.0
5042,Jon Gunn,90.0,85222.0,Documentary,My Date with Drew,2004.0,English,USA,1100.0,6.6,Jon Gunn,456.0

In [ ]:
df2.info()

In [ ]:
#untuk mengisi data kosong ada 2 cara
#cara yang pertama
df3 = df2.copy()

#untuk menghilangkan empty values
df3 = df3[~df3['director_name'].isna()]
df3 = df3[~df3['duration'].isna()]
df3 = df3[~df3['gross'].isna()]
df3 = df3[~df3['title_year'].isna()]
df3 = df3[~df3['language'].isna()]
df3 = df3[~df3['country'].isna()]
df3 = df3[~df3['budget'].isna()]
df3 = df3[~df3['actor'].isna()]
df3 = df3[~df3['movie_facebook_likes'].isna()]
df3

,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actor,movie_facebook_likes
0,James Cameron,178.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,Avatar,2009.0,English,USA,237000000.0,7.9,Wes Studi,33000.0
1,Gore Verbinski,169.0,309404152.0,Action|Adventure|Fantasy,Pirates of the Caribbean At World's End,2007.0,English,USA,300000000.0,7.1,Jack Davenport,0.0
2,Sam Mendes,148.0,200074175.0,Action|Adventure|Thriller,Spectre,2015.0,English,UK,245000000.0,6.8,Stephanie Sigman,85000.0
3,Christopher Nolan,164.0,448130642.0,Action|Thriller,The Dark Knight Rises,2012.0,English,USA,250000000.0,8.5,Joseph Gordon-Levitt,164000.0
5,Andrew Stanton,132.0,73058679.0,Action|Adventure|Sci-Fi,John Carter,2012.0,English,USA,263700000.0,6.6,Polly Walker,24000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5033,Shane Carruth,77.0,424760.0,Drama|Sci-Fi|Thriller,Primer,2004.0,English,USA,7000.0,7.0,Casey Gooden,19000.0
5034,Neill Dela Llana,80.0,70071.0,Thriller,Cavite,2005.0,English,Philippines,7000.0,6.3,Quynn Ton,74.0
5035,Robert Rodriguez,81.0,2040920.0,Action|Crime|Drama|Romance|Thriller,El Mariachi,1992.0,Spanish,USA,7000.0,6.9,Consuelo Gómez,0.0
5037,Edward Burns,95.0,4584.0,Comedy|Drama,Newlyweds,2011.0,English,USA,9000.0,6.4,Daniella Pineda,413.0
5042,Jon Gunn,90.0,85222.0,Documentary,My Date with Drew,2004.0,English,USA,1100.0,6.6,Jon Gunn,456.0

In [ ]:
#cara2 identifikasi null column
#fungsi isna untuk mendeteksi empty kolom, 'any' setiap kolom, axis=1 untuk kolom (kalo axis=0 untuk baris)
null_rows =df2[df2.isna().any(axis=1)]
#cara menyimpan non-null rows ke df3
df3 = df2[~df2.isna().any(axis=1)].copy()
df3

,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actor,movie_facebook_likes
0,James Cameron,178.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,Avatar,2009.0,English,USA,237000000.0,7.9,Wes Studi,33000.0
1,Gore Verbinski,169.0,309404152.0,Action|Adventure|Fantasy,Pirates of the Caribbean At World's End,2007.0,English,USA,300000000.0,7.1,Jack Davenport,0.0
2,Sam Mendes,148.0,200074175.0,Action|Adventure|Thriller,Spectre,2015.0,English,UK,245000000.0,6.8,Stephanie Sigman,85000.0
3,Christopher Nolan,164.0,448130642.0,Action|Thriller,The Dark Knight Rises,2012.0,English,USA,250000000.0,8.5,Joseph Gordon-Levitt,164000.0
5,Andrew Stanton,132.0,73058679.0,Action|Adventure|Sci-Fi,John Carter,2012.0,English,USA,263700000.0,6.6,Polly Walker,24000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5033,Shane Carruth,77.0,424760.0,Drama|Sci-Fi|Thriller,Primer,2004.0,English,USA,7000.0,7.0,Casey Gooden,19000.0
5034,Neill Dela Llana,80.0,70071.0,Thriller,Cavite,2005.0,English,Philippines,7000.0,6.3,Quynn Ton,74.0
5035,Robert Rodriguez,81.0,2040920.0,Action|Crime|Drama|Romance|Thriller,El Mariachi,1992.0,Spanish,USA,7000.0,6.9,Consuelo Gómez,0.0
5037,Edward Burns,95.0,4584.0,Comedy|Drama,Newlyweds,2011.0,English,USA,9000.0,6.4,Daniella Pineda,413.0
5042,Jon Gunn,90.0,85222.0,Documentary,My Date with Drew,2004.0,English,USA,1100.0,6.6,Jon Gunn,456.0

**CASE KE - 3 INTEGER**

In [ ]:
integer_columns = ['duration', 'gross', 'title_year', 'budget', 'movie_facebook_likes']
df3[integer_columns] = df3[integer_columns].astype(int)
df3[integer_columns]

      duration      gross  title_year     budget  movie_facebook_likes
0          178  760505847        2009  237000000                 33000
1          169  309404152        2007  300000000                     0
2          148  200074175        2015  245000000                 85000
3          164  448130642        2012  250000000                164000
5          132   73058679        2012  263700000                 24000
...        ...        ...         ...        ...                   ...
5033        77     424760        2004       7000                 19000
5034        80      70071        2005       7000                    74
5035        81    2040920        1992       7000                     0
5037        95       4584        2011       9000                   413
5042        90      85222        2004       1100                   456

[3777 rows x 5 columns]

In [ ]:
df3[integer_columns].info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3777 entries, 0 to 5042
Data columns (total 5 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   duration              3777 non-null   int64
 1   gross                 3777 non-null   int64
 2   title_year            3777 non-null   int64
 3   budget                3777 non-null   int64
 4   movie_facebook_likes  3777 non-null   int64
dtypes: int64(5)
memory usage: 177.0 KB

In [ ]:
df3.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 3777 entries, 0 to 5042
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   director_name         3777 non-null   object
 1   duration              3777 non-null   int64
 2   gross                 3777 non-null   int64
 3   genres                3777 non-null   object
 4   movie_title           3777 non-null   object
 5   title_year            3777 non-null   int64
 6   language              3777 non-null   object
 7   country               3777 non-null   object
 8   budget                3777 non-null   int64
 9   imdb_score            3777 non-null   float64
 10  actor                 3777 non-null   object
 11  movie_facebook_likes  3777 non-null   int64
dtypes: float64(1), int64(5), object(6)
memory usage: 383.6+ KB

In [ ]:
#copy the result to df4
df4 = df3.copy()

**CASE KE -4 issue** : zero values on movie_facebook_likes

same technique like we remove empty values applied here

In [ ]:
#now, for each columns, remove empty values
df_check = df4[~(df4['movie_facebook_likes'] == 0)].copy()

In [ ]:
#check df_final 
# rata 2039 baris
df_check.info()

<class 'pandas.core.frame.DataFrame'>
Int64Index: 2039 entries, 0 to 5042
Data columns (total 12 columns):
 #   Column                Non-Null Count  Dtype
---  ------                --------------  -----
 0   director_name         2039 non-null   object
 1   duration              2039 non-null   float64
 2   gross                 2039 non-null   float64
 3   genres                2039 non-null   object
 4   movie_title           2039 non-null   object
 5   title_year            2039 non-null   float64
 6   language              2039 non-null   object
 7   country               2039 non-null   object
 8   budget                2039 non-null   float64
 9   imdb_score            2039 non-null   float64
 10  actor                 2039 non-null   object
 11  movie_facebook_likes  2039 non-null   float64
dtypes: float64(6), object(6)
memory usage: 207.1+ KB

In [ ]:
df4

,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actor,movie_facebook_likes
0,James Cameron,178.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,Avatar,2009.0,English,USA,237000000.0,7.9,Wes Studi,33000.0
1,Gore Verbinski,169.0,309404152.0,Action|Adventure|Fantasy,Pirates of the Caribbean At World's End,2007.0,English,USA,300000000.0,7.1,Jack Davenport,0.0
2,Sam Mendes,148.0,200074175.0,Action|Adventure|Thriller,Spectre,2015.0,English,UK,245000000.0,6.8,Stephanie Sigman,85000.0
3,Christopher Nolan,164.0,448130642.0,Action|Thriller,The Dark Knight Rises,2012.0,English,USA,250000000.0,8.5,Joseph Gordon-Levitt,164000.0
5,Andrew Stanton,132.0,73058679.0,Action|Adventure|Sci-Fi,John Carter,2012.0,English,USA,263700000.0,6.6,Polly Walker,24000.0
...,...,...,...,...,...,...,...,...,...,...,...,...
5033,Shane Carruth,77.0,424760.0,Drama|Sci-Fi|Thriller,Primer,2004.0,English,USA,7000.0,7.0,Casey Gooden,19000.0
5034,Neill Dela Llana,80.0,70071.0,Thriller,Cavite,2005.0,English,Philippines,7000.0,6.3,Quynn Ton,74.0
5035,Robert Rodriguez,81.0,2040920.0,Action|Crime|Drama|Romance|Thriller,El Mariachi,1992.0,Spanish,USA,7000.0,6.9,Consuelo Gómez,0.0
5037,Edward Burns,95.0,4584.0,Comedy|Drama,Newlyweds,2011.0,English,USA,9000.0,6.4,Daniella Pineda,413.0
5042,Jon Gunn,90.0,85222.0,Documentary,My Date with Drew,2004.0,English,USA,1100.0,6.6,Jon Gunn,456.0

One can ask whether the last step is really necessary ~ after all ~ 1600 rows of our data just because facebook likes! the answer is, it depend on the bussiness questions we're facing. Are we interested with the trend on facebook likes? if not, we can safely disregard zero values there.

**case ke - 5 ** : column movie_title error replace values

In [ ]:
df4['movie_title'].unique()

array(['Avatar\xa0', "Pirates of the Caribbean At World's End\xa0",
       'Spectre\xa0', ..., 'El Mariachi\xa0', 'Newlyweds\xa0',
       'My Date with Drew\xa0'], dtype=object)

In [ ]:
#mengganti nilai xa0 menjadi nilai baru berupa data kosong
df4['movie_title']=df4['movie_title'].str.replace("\xa0",'')
df4['movie_title'].unique()

array(['Avatar', "Pirates of the Caribbean At World's End", 'Spectre',
       ..., 'El Mariachi', 'Newlyweds', 'My Date with Drew'], dtype=object)

Quite advance data cleaning: Extracting "main genre" from genres column
You can see from df4 that the movie genre in the data quite messy:some movies only assigned 1 genre, others are multiple-genre movies.

For purpose that will made clearer shortly, i am interested with the "main genre" of the move; that is, the first genre assigned to each movies. So let's find out what is it:

In [ ]:
#split columns by the separator |
df['genres'].str.split('|')

0       [Action, Adventure, Fantasy, Sci-Fi]
1               [Action, Adventure, Fantasy]
2              [Action, Adventure, Thriller]
3                         [Action, Thriller]
4                              [Documentary]
                        ...
5038                         [Comedy, Drama]
5039       [Crime, Drama, Mystery, Thriller]
5040               [Drama, Horror, Thriller]
5041                [Comedy, Drama, Romance]
5042                           [Documentary]
Name: genres, Length: 5043, dtype: object

In [ ]:
# We just need 1 genre, so we only takes the first genre
# x[0] merupakan index pertama
df4['genres'].str.split('|').apply(lambda x: x[0])

0            Action
1            Action
2            Action
3            Action
5            Action
           ...
5033          Drama
5034       Thriller
5035         Action
5037         Comedy
5042    Documentary
Name: genres, Length: 3777, dtype: object

In [ ]:
# Create new df, called df4_genre, that add main_genre columns
df4_genre = df.copy()
df4_genre['main_genre'] = df4['genres'].str.split('|').apply(lambda x: x[0])
df4_genre.head() #check the right-most column:

,director_name,duration,gross,genres,movie_title,title_year,language,country,budget,imdb_score,actor,movie_facebook_likes,main_genre
0,James Cameron,178.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,Avatar,2009.0,English,USA,237000000.0,7.9,Wes Studi,33000.0,Action
1,Gore Verbinski,169.0,309404152.0,Action|Adventure|Fantasy,Pirates of the Caribbean At World's End,2007.0,English,USA,300000000.0,7.1,Jack Davenport,0.0,Action
2,Sam Mendes,148.0,200074175.0,Action|Adventure|Thriller,Spectre,2015.0,English,UK,245000000.0,6.8,Stephanie Sigman,85000.0,Action
3,Christopher Nolan,164.0,448130642.0,Action|Thriller,The Dark Knight Rises,2012.0,English,USA,250000000.0,8.5,Joseph Gordon-Levitt,164000.0,Action
4,Doug Walker,NaN,NaN,Documentary,Star Wars Episode VII - The Force Awakens ...,NaN,NaN,NaN,NaN,7.1,NaN,0.0,NaN

In [ ]:
# inspect unique genres extracted
df4_genre['genres'].unique()

array(['Action|Adventure|Fantasy|Sci-Fi', 'Action|Adventure|Fantasy',
       'Action|Adventure|Thriller', 'Action|Thriller', 'Documentary',
       'Action|Adventure|Sci-Fi', 'Action|Adventure|Romance',
       'Adventure|Animation|Comedy|Family|Fantasy|Musical|Romance',
       'Adventure|Family|Fantasy|Mystery', 'Action|Adventure',
       'Action|Adventure|Western', 'Action|Adventure|Family|Fantasy',
       'Action|Adventure|Comedy|Family|Fantasy|Sci-Fi',
       'Adventure|Fantasy', 'Action|Adventure|Drama|History',
       'Adventure|Family|Fantasy', 'Action|Adventure|Drama|Romance',
       'Drama|Romance', 'Action|Adventure|Sci-Fi|Thriller',
       'Action|Adventure|Fantasy|Romance',
       'Action|Adventure|Fantasy|Sci-Fi|Thriller',
       'Adventure|Animation|Comedy|Family|Fantasy',
       'Adventure|Animation|Comedy|Family|Sport', 'Action|Crime|Thriller',
       'Action|Adventure|Horror|Sci-Fi|Thriller',
       'Adventure|Animation|Family|Sci-Fi',
       'Action|Comedy|Crime|Thriller', 'Animation|Drama|Family|Fantasy',
       'Action|Crime|Drama|Thriller', 'Adventure|Animation|Comedy|Family',
       'Action|Adventure|Animation|Comedy|Family|Sci-Fi',
       'Adventure|Drama|Family|Mystery', 'Action|Comedy|Sci-Fi|Western',
       'Action|Adventure|Fantasy|Horror|Thriller',
       'Action|Adventure|Comedy|Sci-Fi', 'Comedy|Family|Fantasy',
       'Adventure|Animation|Comedy|Drama|Family|Fantasy',
       'Adventure|Drama|Family|Fantasy', 'Action|Adventure|Drama|Fantasy',
       'Action|Adventure|Family|Fantasy|Romance',
       'Action|Adventure|Drama|Sci-Fi', 'Action|Adventure|Romance|Sci-Fi',
       'Action|Adventure|Family|Mystery|Sci-Fi',
       'Action|Adventure|Animation|Comedy|Drama|Family|Sci-Fi',
       'Adventure|Animation|Comedy|Family|Sci-Fi',
       'Adventure|Animation|Family|Fantasy', 'Action|Sci-Fi',
       'Adventure|Drama|Sci-Fi', 'Action|Adventure|Drama|Horror|Sci-Fi',
       'Drama|Fantasy|Romance', 'Adventure|Sci-Fi',
       'Action|Adventure|Drama|Thriller',
       'Action|Drama|History|Romance|War',
       'Action|Adventure|Biography|Drama|History|Romance|War',
       'Action|Drama', 'Drama|Horror|Sci-Fi',
       'Adventure|Comedy|Family|Fantasy',
       'Animation|Comedy|Family|Fantasy',
       'Action|Adventure|Animation|Comedy|Family',
       'Adventure|Animation|Comedy|Family|Fantasy|Musical',
       'Mystery|Thriller', 'Adventure|Animation|Comedy|Drama|Family',
       'Action|Adventure|Animation|Comedy|Family|Fantasy|Sci-Fi',
       'Comedy|Fantasy|Horror', 'Drama|Fantasy|Horror|Thriller',
       'Action|Drama|Thriller', 'Adventure',
       'Action|Comedy|Fantasy|Sci-Fi',
       'Action|Adventure|Comedy|Family|Fantasy|Mystery|Sci-Fi',
       'Action|Adventure|Animation|Fantasy', 'Comedy|Crime',
       'Action|Drama|History|War', 'Action|Adventure|Drama',
       'Action|Adventure|Animation|Comedy|Family|Fantasy',
       'Action|Drama|Mystery|Sci-Fi', 'Action|Adventure|Comedy|Thriller',
       'Action|Adventure|Animation|Fantasy|Romance|Sci-Fi',
       'Action|Adventure|Drama|History|War',
       'Adventure|Drama|Fantasy|Romance',
       'Animation|Comedy|Family|Musical',
       'Action|Crime|Drama|Mystery|Thriller',
       'Adventure|Drama|Thriller|Western',
       'Adventure|Animation|Comedy|Family|Western',
       'Action|Mystery|Thriller', 'Adventure|Sci-Fi|Thriller',
       'Adventure|Animation|Comedy|Family|Fantasy|Sci-Fi',
       'Action|Crime|Mystery|Thriller', 'Action|Adventure|Family|Mystery',
       'Adventure|Drama|Romance|War',
       'Adventure|Animation|Family|Thriller', 'Action|Fantasy',
       'Action|Animation|Comedy|Family|Sci-Fi', 'Action|Comedy|Fantasy',
       'Fantasy', 'Adventure|Animation|Comedy|Family|Musical',
       'Action|Adventure|Crime|Mystery|Thriller',
       'Action|Adventure|History', 'Action', 'Adventure|Drama|Fantasy',
       'Action|Fantasy|Thriller', 'Action|Adventure|Comedy|Crime',
       'Adventure|Mystery|Sci-Fi', 'Action|Drama|Sci-Fi|Thriller',
       'Action|Crime|Sci-Fi|Thriller', 'Action|Family|Sport',
       'Comedy|Drama|Romance', 'Action|Comedy|Romance',
       'Action|Adventure|Mystery|Sci-Fi', 'Action|Drama|War',
       'Adventure|Drama|Sci-Fi|Thriller',
       'Action|Adventure|Comedy|Family|Fantasy', 'Crime|Thriller',
       'Action|Comedy|Crime|Romance|Thriller', 'Biography|Drama',
       'Action|Comedy|Crime|Sci-Fi|Thriller', 'Action|Adventure|Crime',
       'Action|Drama|Fantasy|War',
       'Animation|Comedy|Family|Music|Western',
       'Action|Adventure|Mystery|Sci-Fi|Thriller',
       'Action|Drama|Sci-Fi|Sport', 'Action|Crime|Romance|Thriller',
       'Action|Adventure|Comedy', 'Biography|Drama|Sport',
       'Action|Mystery|Sci-Fi|Thriller',
       'Animation|Family|Fantasy|Musical|Romance', 'Comedy',
       'Action|Adventure|Romance|Sci-Fi|Thriller', 'Comedy|Romance',
       'Action|Drama|Romance', 'Biography|Crime|Drama|History|Romance',
       'Biography|Crime|Drama', 'Action|Comedy|Thriller',
       'Action|Comedy|Crime', 'Action|Drama|Mystery|Thriller',
       'Drama|Western', 'Animation|Drama|Family|Musical|Romance',
       'Action|Adventure|Comedy|Family|Mystery',
       'Action|Romance|Thriller', 'Action|Fantasy|Horror|Mystery',
       'Adventure|Drama|Thriller', 'Biography|Comedy|Crime|Drama',
       'Action|Sci-Fi|War', 'Drama|Sci-Fi',
       'Action|Adventure|Animation|Family|Fantasy',
       'Action|Crime|Fantasy|Romance|Thriller', 'Adventure|Comedy|Sci-Fi',
       'Action|Crime|Sport|Thriller',
       'Action|Adventure|Biography|Drama|History|Thriller',
       'Action|Comedy|Sci-Fi', 'Action|Drama|Thriller|War',
       'Drama|Mystery|Thriller', 'Action|Adventure|Fantasy|Thriller',
       'Crime|Drama', 'Drama|History|Romance|War',
       'Animation|Comedy|Family|Sport', 'Comedy|Sci-Fi|Thriller',
       'Drama|History|War', 'Adventure|Animation|Comedy|Family|Romance',
       'Drama|Family|Fantasy|Romance', 'Drama|Fantasy|Thriller',
       'Drama|Mystery|Romance|Sci-Fi|Thriller',
       'Drama|History|War|Western', 'Action|Adventure|Animation|Family',
       'Adventure|Comedy|Family|Mystery|Sci-Fi',
       'Drama|Fantasy|Horror|Mystery|Thriller',
       'Animation|Comedy|Family|Sci-Fi',
       'Adventure|Comedy|Drama|Fantasy|Romance',
       'Action|Adventure|Comedy|Crime|Thriller', 'Crime|Drama|Thriller',
       'Adventure|Animation|Family|Fantasy|Musical|War', 'Action|Comedy',
       'Crime|Drama|Mystery|Thriller', 'Adventure|Drama|History',
       'Action|Adventure|Animation|Family|Fantasy|Sci-Fi',
       'Adventure|Animation|Comedy|Family|Fantasy|Music',
       'Drama|History|Thriller|War', 'Action|Animation|Comedy|Sci-Fi',
       'Comedy|Family|Fantasy|Horror|Mystery',
       'Drama|Mystery|Sci-Fi|Thriller', 'Action|Horror|Sci-Fi|Thriller',
       'Crime|Mystery|Thriller',
       'Action|Adventure|Comedy|Crime|Mystery|Thriller',
       'Comedy|Drama|Sci-Fi', 'Action|Family|Fantasy|Musical',
       'Drama|History|Sport', 'Adventure|Drama|Romance',
       'Animation|Comedy|Family|Music|Romance',
       'Animation|Comedy|Family|Fantasy|Musical|Romance',
       'Crime|Drama|Horror|Mystery|Thriller', 'Adventure|Comedy|Family',
       'Action|Adventure|Comedy|Fantasy', 'Comedy|Drama|Music|Musical',
       'Adventure|Comedy|Drama|Family|Fantasy',
       'Action|Comedy|Fantasy|Romance', 'Comedy|Romance|Sci-Fi',
       'Adventure|Comedy|Mystery', 'Comedy|Drama|Fantasy|Romance',
       'Action|Comedy|Family|Fantasy',
       'Action|Adventure|Fantasy|Horror|Sci-Fi',
       'Crime|Drama|History|Mystery|Thriller', 'Comedy|Drama',
       'Adventure|Animation|Comedy|Drama|Family|Fantasy|Sci-Fi',
       'Action|Drama|Romance|Sci-Fi|Thriller', 'Comedy|Crime|Sport',
       'Comedy|Family|Fantasy|Romance',
       'Action|Adventure|Crime|Drama|Sci-Fi|Thriller',
       'Adventure|Drama|History|Romance|War', 'Comedy|Family|Sci-Fi',
       'Fantasy|Horror|Mystery|Thriller',
       'Adventure|Animation|Comedy|Family|Fantasy|Sci-Fi|Sport',
       'Adventure|Comedy|Crime|Family|Mystery', 'Drama|Sci-Fi|Thriller',
       'Action|Crime|Mystery|Romance|Thriller',
       'Action|Adventure|Comedy|Romance',
       'Adventure|Animation|Family|Western', 'Comedy|Family|Romance',
       'Action|Adventure|Family|Sci-Fi|Thriller',
       'Animation|Family|Fantasy|Music',
       'Action|Adventure|Family|Fantasy|Thriller', 'Comedy|Fantasy',
       'Action|Adventure|Comedy|Fantasy|Thriller',
       'Drama|Horror|Mystery|Sci-Fi', 'Action|Sci-Fi|Thriller',
       'Drama|History|Thriller', 'Adventure|Animation|Family',
       'Drama|Musical|Romance', 'Documentary|Drama',
       'Action|Adventure|Drama|History|Romance', 'Animation|Family',
       'Adventure|Animation|Drama|Family|Musical',
       'Animation|Comedy|Family|Fantasy|Sci-Fi',
       'Adventure|Animation|Drama|Family|Fantasy', 'Sci-Fi|Thriller',
       'Animation|Comedy|Family', 'Action|Crime|Fantasy|Thriller',
       'Comedy|Drama|Family|Music|Musical|Romance',
       'Horror|Mystery|Thriller', 'Action|Adventure|Comedy|Family|Sci-Fi',
       'Comedy|Family', 'Biography|Comedy|Drama|History',
       'Drama|Music|Musical', 'Crime|Drama|Mystery', 'Comedy|Crime|Music',
       'Action|Comedy|Romance|Thriller',
       'Animation|Comedy|Family|Fantasy|Mystery',
       'Comedy|Crime|Drama|Romance', 'Action|Adventure|Romance|Thriller',
       'Drama|History|Romance', 'Action|Drama|Fantasy|Romance',
       'Action|Adventure|Animation|Family|Sci-Fi', 'Action|Drama|Sci-Fi',
       'Drama|Horror|Sci-Fi|Thriller', 'Animation|Comedy|Fantasy',
       'Action|Animation|Comedy|Family',
       'Action|Adventure|Comedy|Romance|Thriller', 'Action|Comedy|Sport',
       'Biography|Drama|History|War', 'Adventure|Animation|Comedy',
       'Action|Drama|Sport', 'Adventure|Drama|Family',
       'Drama|Mystery|Romance|Thriller',
       'Adventure|Animation|Comedy|Family|Fantasy|Romance',
       'Adventure|Drama|War', 'Action|Adventure|Crime|Thriller',
       'Adventure|Drama|Fantasy|Mystery|Thriller',
       'Fantasy|Mystery|Romance|Sci-Fi|Thriller',
       'Drama|Fantasy|Mystery|Thriller',
       'Animation|Comedy|Family|Fantasy|Music',
       'Drama|Horror|Romance|Thriller', 'Drama|War', 'Drama',
       'Action|Drama|Fantasy|Horror|War',
       'Adventure|Family|Fantasy|Romance',
       'Adventure|Biography|Drama|History|War',
       'Action|Adventure|Horror|Sci-Fi', 'Action|Fantasy|Horror',
       'Comedy|Drama|Musical|Romance', 'Action|Sci-Fi|Sport',
       'Action|Adventure|Animation|Comedy|Crime|Family|Fantasy',
       'Adventure|Animation|Family|Fantasy|Musical',
       'Action|Crime|Mystery|Sci-Fi|Thriller',
       'Action|Comedy|Crime|Drama|Thriller',
       'Adventure|Drama|History|Romance', 'Biography|Drama|Thriller',
       'Action|Drama|History|Thriller', 'Action|Adventure|Fantasy|War',
       'Comedy|Fantasy|Romance',
       'Action|Adventure|Comedy|Romance|Thriller|Western',
       'Biography|Drama|Sport|War', 'Comedy|Drama|Family|Musical',
       'Action|Adventure|Fantasy|Horror|Sci-Fi|Thriller', 'Drama|Sport',
       'Action|Fantasy|Sci-Fi|Thriller', 'Drama|Mystery|Romance',
       'Adventure|Biography|Drama|History|Sport|Thriller',
       'Crime|Drama|Fantasy', 'Adventure|Biography|Crime|Drama|Western',
       'Action|War', 'Comedy|Romance|Sport',
       'Crime|Drama|Mystery|Thriller|Western', 'Comedy|Sport',
       'Comedy|Drama|Family', 'Crime|Drama|Fantasy|Mystery',
       'Adventure|Animation|Biography|Drama|Family|Fantasy|Musical',
       'Drama|Romance|Western', 'Documentary|Music', 'Drama|Thriller',
       'Animation|Family|Fantasy', 'Action|Fantasy|Horror|Sci-Fi',
       'Biography|Comedy|Drama', 'Action|Horror|Sci-Fi',
       'Adventure|Comedy', 'Biography|Drama|History|Sport',
       'Comedy|Crime|Romance|Thriller', 'Comedy|Crime|Romance',
       'Horror|Mystery|Sci-Fi|Thriller', 'Biography|Drama|Music',
       'Drama|Fantasy|Sport', 'Adventure|Comedy|Drama|Music',
       'Action|Fantasy|Horror|Sci-Fi|Thriller',
       'Adventure|Animation|Comedy|Drama|Family|Fantasy|Romance',
       'Horror|Sci-Fi|Thriller', 'Drama|Fantasy|Mystery|Romance|Thriller',
       'Action|Adventure|Drama|History|Romance|War',
       'Drama|Fantasy|Mystery|Romance', 'Fantasy|Horror|Mystery|Romance',
       'Adventure|Comedy|Family|Romance|Sci-Fi', 'Drama|Horror|Thriller',
       'Action|Comedy|Mystery|Romance',
       'Action|Adventure|Comedy|Romance|Sci-Fi',
       'Action|Biography|Drama|History|Thriller|War',
       'Adventure|Comedy|Family|Fantasy|Horror',
       'Comedy|Family|Romance|Sci-Fi', 'Action|Adventure|Thriller|War',
       'Comedy|Drama|Romance|Sport', 'Comedy|Western',
       'Action|Comedy|Crime|Drama', 'Drama|Music|Romance|War',
       'Action|Comedy|Drama|Family|Thriller', 'Action|Crime',
       'Adventure|Animation|Drama|Family|History|Musical|Romance',
       'Action|Adventure|Drama|Romance|Sci-Fi',
       'Action|Adventure|Comedy|Family|Romance',
       'Action|Adventure|Comedy|Western',
       'Biography|Drama|History|Musical',
       'Adventure|Drama|Horror|Thriller', 'Action|Drama|Sport|Thriller',
       'Drama|Musical|Romance|Thriller', 'Comedy|Drama|Family|Fantasy',
       'Adventure|Comedy|Crime|Family|Musical',
       'Drama|Music|Musical|Romance', 'Drama|Mystery|Romance|War',
       'Crime|Drama|Romance', 'Crime|Horror|Mystery|Thriller',
       'Adventure|Animation|Drama|Family|Fantasy|Musical|Mystery|Romance',
       'Action|Horror|Thriller', 'Drama|History|Horror',
       'Drama|Romance|Sport', 'Comedy|Family|Musical|Romance',
       'Romance|Sci-Fi|Thriller', 'Biography|Comedy|Drama|Romance',
       'Mystery|Sci-Fi|Thriller', 'Drama|Fantasy|Horror',
       'Adventure|Comedy|Drama|Fantasy|Musical', 'Horror|Mystery',
       'Action|Adventure|Family|Fantasy|Sci-Fi|Thriller',
       'Adventure|Comedy|Family|Fantasy|Romance|Sport',
       'Adventure|Horror|Mystery', 'Crime|Drama|Romance|Thriller',
       'Comedy|Crime|Drama|Thriller', 'Drama|Fantasy',
       'Adventure|Comedy|Drama', 'Action|Biography|Drama|History|War',
       'Adventure|Comedy|Fantasy', 'Adventure|Comedy|Crime|Drama|Family',
       'Action|Biography|Crime|Drama|Thriller', 'Comedy|Sci-Fi',
       'Drama|Romance|Sci-Fi',
       'Action|Adventure|Comedy|Crime|Music|Mystery',
       'Comedy|Drama|Music', 'Action|Crime|Drama|Sci-Fi|Thriller',
       'Horror|Thriller', 'Action|Adventure|Comedy|Drama|War',
       'Drama|Mystery|Sci-Fi', 'Crime|Drama|Music',
       'Adventure|Crime|Drama|Western', 'Comedy|Drama|Thriller',
       'Drama|Romance|War', 'Action|Comedy|Crime|Music|Romance|Thriller',
       'Crime|Romance|Thriller', 'Action|Adventure|Drama|Sci-Fi|Thriller',
       'Action|Drama|Fantasy|Thriller|Western',
       'Action|Drama|Mystery|Thriller|War',
       'Biography|Crime|Drama|Thriller', 'Action|Comedy|Crime|Romance',
       'Action|Adventure|Family|Fantasy|Sci-Fi',
       'Adventure|Comedy|Family|Musical', 'Action|Horror',
       'Action|Adventure|Horror|Thriller', 'Comedy|Drama|Music|Romance',
       'Action|Crime|Drama|Romance|Thriller',
       'Comedy|Family|Romance|Sport', 'Drama|Family|Fantasy',
       'Drama|Fantasy|Musical|Romance',
       'Adventure|Comedy|Family|Fantasy|Sci-Fi', 'Comedy|Musical',
       'Biography|Drama|History', 'Action|Crime|Drama|Thriller|War',
       'Comedy|Crime|Thriller', 'Drama|Fantasy|Horror|Mystery',
       'Action|Animation|Comedy|Family|Fantasy',
       'Biography|Drama|History|Thriller',
       'Action|Adventure|Crime|Drama|Mystery|Thriller',
       'Animation|Family|Fantasy|Musical', 'Adventure|Drama|Western',
       'Biography|Drama|History|Romance', 'Drama|Horror|Mystery|Thriller',
       'Action|Fantasy|Western', 'Comedy|War', 'Drama|Music',
       'Action|Drama|Family|Sport', 'Action|Biography|Drama|Thriller|War',
       'Comedy|Drama|Sport', 'Adventure|Comedy|Sci-Fi|Western',
       'Fantasy|Horror|Romance', 'Biography|Drama|Romance',
       'Action|Adventure|Drama|Romance|War',
       'Adventure|Comedy|Crime|Romance',
       'Comedy|Drama|Family|Fantasy|Romance', 'Horror', 'Comedy|Music',
       'Action|Adventure|Drama|Romance|Thriller',
       'Biography|Drama|Music|Musical', 'Drama|History',
       'Comedy|Music|Romance',
       'Action|Adventure|Crime|Fantasy|Mystery|Thriller',
       'Adventure|Drama|Mystery', 'Biography|Crime|Drama|Music',
       'Crime|Drama|Horror|Thriller',
       'Adventure|Animation|Comedy|Drama|Family|Fantasy|Musical',
       'Action|Adventure|Comedy|Music|Thriller',
       'Adventure|Animation|Comedy|Crime|Family',
       'Comedy|Romance|Sci-Fi|Thriller', 'Comedy|Crime|Family|Romance',
       'Crime|Horror|Thriller', 'Action|Horror|Mystery|Sci-Fi|Thriller',
       'Comedy|Fantasy|Sci-Fi',
       'Adventure|Animation|Comedy|Fantasy|Romance',
       'Action|Adventure|Family|Thriller',
       'Adventure|Comedy|Drama|Romance|Thriller|War',
       'Adventure|Animation|Comedy|Fantasy|Music|Romance',
       'Action|Drama|Fantasy', 'Action|Adventure|Drama|Fantasy|War',
       'Drama|Fantasy|Romance|Sci-Fi',
       'Animation|Comedy|Family|Horror|Sci-Fi',
       'Biography|Drama|Romance|Sport', 'Action|Biography|Drama',
       'Adventure|Drama', 'Horror|Mystery|Sci-Fi',
       'Action|Adventure|Drama|Thriller|Western',
       'Adventure|Family|Fantasy|Sci-Fi',
       'Adventure|Comedy|History|Romance', 'Action|Biography|Drama|Sport',
       'Drama|Family',
       'Action|Adventure|Crime|Drama|Family|Fantasy|Romance|Thriller',
       'Biography|Comedy|Romance', 'Action|Biography|Drama|History',
       'Biography|Drama|War', 'Adventure|Comedy|Family|Sci-Fi',
       'Biography|Drama|Family|History|Sport',
       'Biography|Comedy|Drama|History|Music', 'Fantasy|Horror',
       'Comedy|Drama|Family|Sport', 'Comedy|Drama|Romance|Sci-Fi',
       'Adventure|Animation|Comedy|Family|War',
       'Action|Comedy|Sci-Fi|Thriller', 'Comedy|Horror',
       'Drama|Thriller|War', 'Action|Western',
       'Action|Adventure|Family|Sci-Fi',
       'Adventure|Biography|Drama|Thriller', 'Drama|Romance|War|Western',
       'Action|Comedy|Crime|Western',
       'Action|Adventure|Comedy|Drama|Thriller', 'Drama|Music|Romance',
       'Action|Adventure|Crime|Drama|Thriller',
       'Adventure|Comedy|Family|Sport', 'Comedy|Drama|Fantasy',
       'Comedy|Family|Sport', 'Action|Adventure|Drama|Family',
       'Action|Comedy|War', 'Drama|Family|Sport',
       'Action|Thriller|Western', 'Action|Drama|Fantasy|Horror|Thriller',
       'Animation|Comedy|Family|Fantasy|Musical',
       'Action|Adventure|Comedy|Fantasy|Romance',
       'Action|Crime|Drama|Mystery|Sci-Fi|Thriller',
       'Adventure|Comedy|Crime|Drama', 'Drama|Mystery',
       'Comedy|Fantasy|Horror|Thriller',
       'Crime|Drama|Mystery|Sci-Fi|Thriller', 'Comedy|Crime|Musical',
       'Comedy|Drama|Family|Music|Romance', 'Comedy|Horror|Romance',
       'Comedy|Family|Fantasy|Sport',
       'Animation|Comedy|Family|Mystery|Sci-Fi',
       'Adventure|Comedy|Drama|Family|Sport',
       'Animation|Drama|Family|Fantasy|Musical|Romance',
       'Comedy|Horror|Musical|Sci-Fi', 'Crime|Drama|Sport',
       'Action|Adventure|Animation|Drama|Mystery|Sci-Fi|Thriller',
       'Action|Adventure|Crime|Drama|Romance', 'Action|Comedy|Horror',
       'Adventure|Horror|Thriller', 'Adventure|Fantasy|Mystery',
       'Action|Drama|Romance|Sport',
       'Biography|Crime|Drama|History|Western',
       'Action|Biography|Crime|Drama', 'Adventure|Animation|Fantasy',
       'Adventure|Animation|Comedy|Fantasy',
       'Biography|Drama|Music|Romance',
       'Adventure|Drama|Mystery|Sci-Fi|Thriller',
       'Biography|Comedy|Crime|Drama|Romance|Thriller',
       'Biography|Crime|Drama|History|Music',
       'Adventure|Animation|Comedy|Drama|Family|Musical',
       'Biography|Comedy|Drama|Music|Romance',
       'Adventure|Animation|Sci-Fi', 'Drama|Romance|Thriller',
       'Action|Fantasy|Horror|Thriller', 'Adventure|Biography',
       'Action|Comedy|Family', 'Action|Horror|Romance',
       'Adventure|Drama|History|Romance|Thriller|War',

Kesimpulan dari inspect kedua data diatas : lebih gampang menganalisa data setelah membuat df baru yaitu df main_genres

In [ ]:
#masukkan data ke df_final
df_final = df4_genre.copy()

In [ ]:
#simpan data df final ke tipe file csv
df_final.to_csv('dataset final.csv')